body {
    position: relative;
}
img {
    position: absolute;
    z-index: 1;
}
.container {
    width: 50%;
    position: absolute;
    right: 0;
    z-index: 2;
}
.container, .content {
    text-align: right;
    padding: 10px;
    background-color: white;
    margin: 10px;
}